#seguros {
    background-image: url(./img/segurosback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    padding: 0;
}

#seguros h2 {
    /* text-align: left; */
    margin-bottom: 2rem;
}

#seguros>div {
    width: 100%;
    height: 100%;
    background-color: #fff8;
}

#seguros>div>div {
    width: 90%;
    max-width: 60rem;
    margin: auto;
    padding: 2rem 0;
}

.seguros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    height: min-content;
}

.seguro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    /* color: #5275e7; */
    color: #fff;
    background-color: #333;
    font-weight: 600;
    /* backdrop-filter: blur(.2rem); */
    border-radius: 50%;
    border: #fff solid .2rem;
    aspect-ratio: 1 / 1;
    padding: 2rem;
    height: min-content;
    text-align: center;
}

.seguro img {
    width: 50%;
}