#seguros {
    width: 100%;
    max-width: 100%;
    min-height: 80vh;
    padding: 0;
    position: relative;
    /* overflow: hidden; */
}

#seguros>img {
    height: 100%;
    min-height: 80vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#seguros h2 {
    /* text-align: left; */
    margin-bottom: 2rem;
}

#seguros>div {
    width: 100%;
    min-height: 80vh;
    /* height: 100%; */
    background-color: #fff8;
    position: absolute;
    top: 0;
    left: 0;
}

#seguros>div>div {
    width: 90%;
    max-width: 60rem;
    margin: auto;
    padding: 2rem 0;
}

.seguros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    height: min-content;
}

.seguro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    /* color: #5275e7; */
    color: #fff;
    background-color: #333;
    font-weight: 600;
    /* backdrop-filter: blur(.2rem); */
    border-radius: 50%;
    border: #fff solid .2rem;
    aspect-ratio: 1 / 1;
    padding: 2rem;
    height: min-content;
    text-align: center;
    user-select: none;
}

.seguro:hover {
    transform: scale(1.2) !important;
}

.seguro img {
    width: 50%;
}