.btnContacto {
    animation-name: carousel;
    animation-duration: 1s;
}

.btnContacto button {
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5rem;
    background-color: #5275e7;
    color: #fff;
    transition: .2s;
}

.btnContacto button:hover {
    background-color: #7791e9;
}