.footer {
    background-color: #333;
    color: #eee;
}

.footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    padding-bottom: 7rem;
    gap: 2rem;
}

.footer>p {
    width: 100%;
    margin: 0;
    background-color: #111;
    color: #ddd;
    padding: .5rem;
    text-align: center;
}

.footer__info {
    display: flex;
    width: min-content;
    gap: .5rem;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.footer__info > img{
    max-width: 15rem;
}

.footer__info-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}

.footer__info-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: #111 0 0 10px;
}

.footer__info-text {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.footer__info * {
    margin: 0;
    padding: 0;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .5rem;
    align-items: center;
    flex-direction: column;
}

.footer__nav-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-decoration: none;
}

.footer__nav-h1 img {
    border-radius: 50%;
}

.footer__nav-h1 span {
    font-weight: 600;
}

.footer__nav-ul {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    /* gap: 1rem; */
    text-align: center;
}

.footer__nav-ul a {
    text-decoration: none;
    color: #eee;
    border-right: solid #eee .1rem;
    padding: .5rem;
    white-space: nowrap;
}
.footer__nav-ul li:last-child a {
    border-right: none;
}

@media (min-width: 600px) {
    .footer>div {
        padding-bottom: 2rem;
    }
}
@media (max-width: 450px) {
    .footer__nav-ul a {
        font-size: .9rem;
        padding: .25rem;
    }
}
@media (max-width: 360px) {
    .footer__nav-ul a {
        font-size: .75rem;
        padding: .25rem;
    }
}