#contacto {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 900px;
    padding: 0;
}

#contacto h2 {
    margin: 0;
}

#contacto>img {
    width: 100%;
    height: 100%;
    min-height: 900px;
    object-fit: cover;
    object-position: center;
}

#contacto>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contacto>div>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 125px 0;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: #0006;
    color: #fff;
    /* backdrop-filter: blur(.25rem); */
}

#contacto>div>div>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    background-color: #fffc;
    color: #000;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: #000 0 0 10px;
}

#contacto p {
    text-align: center;
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
}


.redes {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.redes img {
    width: 2rem;
}

.redes a {
    text-decoration: none;
    color: #5275e7;
}

.redes a span {
    text-decoration: underline;
}

.redes span {
    color: #5275e7;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form div {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

form input,
form textarea {
    border: #5275e7 solid .1rem;
    border-radius: .3rem;
    padding: .5rem;
    outline: none;
    transition: .1s;
}

form input:focus,
form textarea:focus {
    outline: #5275e7 solid .15rem;
    box-shadow: #5275e7 0 0 12px;
    border-radius: .3rem;
    padding: .5rem;
}

form button {
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5rem;
    background-color: #5275e7;
    color: #fff;
    transition: .2s !important;
}

form button:hover {
    background-color: #7791e9;
}